<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portugal</title>
</head>
<body bgcolor="#b2ffe7">
    <center><h1>Portugal</h1>
    <img src="img/pt2jpg" alt="" height="300px" width="600px">
    <p>Portugal, oficialmente República Portuguesa, um país soberano unitário localizado no sudoeste da Europa, cujo território se situa na zona ocidental da Península Ibérica e em arquipélagos no Atlântico Norte. O território português tem uma área total de 92 090 km², sendo delimitado a norte e leste por Espanha e a sul e oeste pelo oceano Atlântico, compreendendo uma parte continental e duas regiões autónomas: os arquipélagos dos Açores e da Madeira.
     Portugal é a nação mais a ocidente do continente europeu. O nome do país provém da sua segunda maior cidade, Porto, cujo nome latino-celta era Portus Cale.</p>
     <br>
     </p>
     <img src="img/pt3.jpg" alt="" height="300px" width="600px">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aut ipsam sunt animi voluptates laborum a minus possimus vero amet praesentium fugiat, voluptas necessitatibus doloribus dolorem tempore. Voluptatibus, sit nobis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab nulla facere voluptatum tempore eaque sapiente qui laboriosam nesciunt ex! Inventore beatae similique accusamus fugiat sint modi molestias laudantium in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aut error perferendis nihil quis illum fugiat aperiam vel beatae! Esse non corrupti porro aut repudiandae numquam soluta quasi possimus praesentium?
     </p></center>
</body>
</html>