
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continente Americano</title>
</head>
<body>

    <h1 style="text-align: center;">Bem vindo ao continente Americano!</h1>


    <center><a href="{% url 'canada.html' %}">Canada<br></center>
    <center><a href="{% url 'estadosus.html' %}">Estados unidos</center>
  
</body>
</body>
</html>